* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #f3f6f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color:#5b7e55;
}

button:hover {
  cursor: pointer;
  transition: all 200ms linear;
}

 /* HEADER*/

 header {
  padding: 20px;
  background: #5b7e55;
 
}

nav {
  display: grid;
  grid-template-columns: 8fr 2fr 2fr 2fr 2fr;
  margin: 3px;
  font-weight: bolder;
}

nav h1 {
  color:#f3f6f3;
}

nav a {
  text-align: center;
  color: #f3f6f3;
}

/* HERO BANNER*/

aside h2 {
  color: #5b7e55;
}

img {
  height: 250px;
  width: 100%;
  margin-bottom: 70px;
}

.hero-banner {
  background-image: url("../images/hero-banner.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
 }

.hero-banner h2 {
  position:absolute;
  top:16vh;
  left:70vw;
  padding: 5px;
  background-color:#f3f6f3;
  color:#5b7e55;
 }

 /* MAIN PAGE SECTION*/

main {
  margin-top:5vh;
 
}
.page-section {
  display:flex;
  gap:4vw;
  margin-left:5vw;
  margin-bottom: 5vh;
  margin-right: 5vh;
  text-align: end;
}

.vl {
  border-left: 6px solid  #5b7e55;

}
.about-content{
  display: flex;
  gap:3vw;
}

.about-me-title,
.work-title {
  font-size: 28.8px;
  text-align-last: right;
}

.main-img, .secondary-img {
 display:flex;
 justify-content: center;
 gap:2vw;
 position:relative;
}

.main-img figcaption {
  position: absolute;
  top:14vh;
  right: 5vw;
  background-color: #b4f0a3;
  color:#5b7e55;
  padding: 0.3%;
  font-weight: bold;
  text-align: center;
  width:10vw;
}

.secondary-img figcaption {
  position: absolute;
}

.work-grid {
  width: 100% !important;
}

#about-img {
  border-radius:10%;
}

#text-about {
  line-height:2em;
  font-size:1.2em;
  padding:2%;
}

#img2 {
  left:20vw;
  top:15vw;
  background-color: #b4f0a3;
  color:#5b7e55;
  padding: 0.3%;
  font-weight: bold;
  text-align: center;
  width:10vw;
}

#img3 {
  right:3vw;
  top:15vw;
  background-color: #b4f0a3;
  color:#5b7e55;
  padding: 0.3%;
  font-weight: bold;
  text-align: center;
  width:10vw;
}

#img4 {
  left:20vw;
  top:15vw;
  background-color: #b4f0a3;
  color:#5b7e55;
  padding: 0.3%;
  font-weight: bold;
  text-align: center;
  width:10vw;
}

#img5 {
  right:3vw;
  top:15vw;
  background-color: #b4f0a3;
  color:#5b7e55;
  padding: 0.3%;
  font-weight: bold;
  text-align: center;
  width:10vw;
}

/* FOOTER */

li {
  list-style-type: none;
  color: #5b7e55;
}

li a {
  color: #5b7e55;
}

.contact-me {
  display: flex;
  gap:4vw;
  margin-left:5vw;
  margin-bottom: 5vh;
}

.contact-links {
  display: flex;
  justify-content: space-evenly !important;
  align-items: center !important;
  gap: 15vw !important;
  width: 100% !important;
  font-weight: bold;
}

.contact-title {
  line-height:2em;
  font-size:  1.8em;
  text-align-last: right;
}

/*MEDIA QUERIES from https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_flex*/
/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}