* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

 /* HEADER*/

 header {
  padding: 20px;
  background: #5b7e55;
 
}

nav {
  display: grid;
  grid-template-columns: 8fr 2fr 2fr 2fr 2fr;
  margin: 3px;
  font-weight: bolder;
}

nav h1 {
  color:#f3f6f3;
}

nav a {
  text-align: center;
  color: #f3f6f3;
}
